@charset "UTF-8";
body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: -webkit-linear-gradient(270deg,rgba(123,102,102,1.00) 0%,rgba(119,118,118,1.00) 21.47%,rgba(26,25,25,1.00) 36.08%,rgba(101,86,86,1.00) 99.88%);
    background-image: -moz-linear-gradient(270deg,rgba(123,102,102,1.00) 0%,rgba(119,118,118,1.00) 21.47%,rgba(26,25,25,1.00) 36.08%,rgba(101,86,86,1.00) 99.88%);
    background-image: -o-linear-gradient(270deg,rgba(123,102,102,1.00) 0%,rgba(119,118,118,1.00) 21.47%,rgba(26,25,25,1.00) 36.08%,rgba(101,86,86,1.00) 99.88%);
    background-image: linear-gradient(180deg,rgba(123,102,102,1.00) 0%,rgba(119,118,118,1.00) 21.47%,rgba(26,25,25,1.00) 36.08%,rgba(101,86,86,1.00) 99.88%);
}

#homevideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: auto;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}


wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    padding: 16px;
    /* [disabled]background-color: #A49E9E; */
}
ul a li {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: inline-block;
    color: #FFFFFF;
    height: 23px;
    vertical-align: middle;
}
nav {
}
nav ul a {
    font-family: sans-serif;
    text-shadow: 1px 1px #000000;
}

.videoframe {
    padding: 10px;
    width: 450px;
}
.videoframe {
    padding: 0px;
    width: 450px;
}
.videoframe {
    width: 450px;
}
.musicframe {
    width: 450px;
    background-color: #2A2828;
}
.tour {
    background-image: url(Gallery3.jpeg);
    background-color: #0A0A0A;
}
h1 {
}
